<app-users-navigation></app-users-navigation>

<ul class="list-group">
	<li class="list-group-item" *ngFor ="let user of usersKeys" >
	  {{'Name: ' + user.name | json}} {{'Phone: ' + user.phone | json}}
	</li>
</ul>