<h1>Welcome</h1>
<nav>
   <a routerLink="/users" routerLinkActive="active" class="btn btn-primary">Users-Slim</a>
   <a routerLink="/users-firebase" routerLinkActive="active" class="btn btn-primary">Firebase</a>	
</nav>
<router-outlet></router-outlet>